.logo {
  max-width: 35%;
  z-index: 1;
}

.main {
  position: relative;
  height: 2000px;
}

.anima-logo {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
}
.anima-user {
  // background-attachment: fixed;
  
}